APIURL=https://api.github.com/graphql
TESTRUNNER_DIR='/.../SmartBear/SoapUI-5.4.0/bin/'
AUTHORIZATIONBEARER=aaa
USERLOGIN=gituser
REPOSITORYSIZE=100
PGHOST=localhost
PGDBNAME=postgres
PGUSER=postgres
PGPASSWORD=
